{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  // add env specific configuration
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "dynamic-import-node" // <-- this is the important line
      ]
    }
  }
}